body{
    background-color: aliceblue;
}
hr{
    border-style: dotted none none;
    border-width: 5px;
    border-color: grey;
    width: 10%;
}
h1{
    background-color: grey;
    color:black;
}
h3{
    background-color: grey;
    color:black;
}
h1:hover{
    color: aliceblue;
}
h3:hover{
    color: aliceblue;
}